apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: pihole
  namespace: pihole
spec:
  hostnames:
    - pihole2.apps.gusek.info
  parentRefs:
    - name: https
      namespace: kgateway-system
  rules:
    - backendRefs:
        - name: pihole-web
          port: 80