
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: samba
spec:
  project: default
  source:
    repoURL: git@github.com:StopDenBus/helm-charts.git
    targetRevision: HEAD
    path: charts/samba
  destination:
    namespace: samba
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
      prune: true

{{- range $app, $properties := .Values.applications }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $app }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ $properties.project }}
  {{- if $properties.plugin }}
  plugin: {{ $properties.plugin }}
  {{- end }}
  source:
    chart: {{ $properties.chart }}
    repoURL: {{ include "repoURL" $properties }}
    targetRevision: {{ $properties.targetRevision | default "0.*.*" }}
    {{- if $properties.helm }}
    {{- include "helmParameters" $properties | nindent 4 }}
    {{- end }}
  destination:
    {{- if $properties.namespace }}
    namespace: {{ $properties.namespace }}
    {{- end }}
    server: https://kubernetes.default.svc
  {{- include "syncPolicy" $properties | nindent 2 }}
  {{- include "ignoreDifferences" $properties | nindent 2 }}  

{{- end }}

{{- range $app, $properties := .Values.applications }}
{{- range $feature, $feature_properties := $properties.featureBranches }}
{{- $argument := dict "app" $app "feature" $feature "properties" $feature_properties }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ include "featureBrancheName" $argument }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ $properties.project }}
  {{- if $properties.plugin }}
  plugin: {{ $properties.plugin }}
  {{- end }}
  source:
    chart: {{ $properties.chart }}
    repoURL: {{ include "repoURL" $properties }}
    targetRevision: {{ $properties.targetRevision | default "0.*.*" }}
    {{- include "featureBrancheHelmParameters" $argument | nindent 4 }}
  destination:
    namespace: {{ $properties.namespace }}
    server: https://kubernetes.default.svc
  {{- include "syncPolicy" $properties | nindent 2 }}  
{{- end }}
{{- end }}