argocd:
  fullnameOverride: argocd

  global:
    logging:
      format: json
      # -- Annotations for the all deployed Statefulsets
    statefulsetAnnotations:
      reloader.stakater.com/auto: "true"
    # -- Annotations for the all deployed Deployments
    deploymentAnnotations:
      reloader.stakater.com/auto: "true"

  configs:
    cm:
      exec.enabled: 'true'
      url: https://argocd.apps.gusek.info
      oidc.config: |
        name: Dex
        issuer: https://dex.apps.gusek.info/dex
        clientID: argocd
        clientSecret: $oidc.clientSecret
    # params:
    #   server.insecure: "true"
    rbac:
      policy.csv: |
        g, kubernetes_admin, role:admin
        g, kubernetes-admin@gusek.info, role:admin
      policy.default: role:readonly
    repositories:
      dungeon:
        url: git@github.com:StopDenBus/dungeon.git
      hello-world:
        url: git@github.com:StopDenBus/php_hello_world.git
      helm-charts:
        url: git@github.com:StopDenBus/helm-charts.git
    secret:
      createSecret: false

  dex:
    enabled: false

  repoServer:
    rbac:
      - apiGroups: [""] # "" indicates the core API group
        resources: ["secrets"]
        verbs: ["get"]

  server:
    ingress:
      enabled: false
      annotations:
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/ssl-passthrough: "false"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      ingressClassName: "nginx"
      hostname: argocd.apps.gusek.info
      tls:
        - hostname:
          - argocd.apps.gusek.info
      https: true
    httproute:
      enabled: true
      parentRefs:
        - name: https
          namespace: kgateway-system
      hostnames:
        - argocd.apps.gusek.info
    backendTLSPolicy:
      enabled: true
      targetRefs:
        - kind: Service
          name: argocd-server
          group: ""
      validation:
        wellKnownCACertificates: "System"
        hostname: argocd.apps.gusek.info

  applicationSet:
    enabled: false

  notifications:
    enabled: false
