# ArgoCD applications
applications:
  argocd:
    chart: argocd
    helm:
      releaseName: argocd
    namespace: argocd
    project: default
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
  dex:
    chart: dex
    helm:
      releaseName: dex
    namespace: dex
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  external-dns:
    chart: external-dns
    helm:
      releaseName: external-dns
    namespace: external-dns
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  external-secrets:
    chart: external-secrets
    helm:
      releaseName: external-secrets
    namespace: external-secrets
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
  grafana:
    enabled: false
    chart: grafana
    helm:
      releaseName: grafana
    namespace: monitoring
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  istio:
    enabled: false
    chart: istio
    helm:
      releaseName: istio
    namespace: istio-system
    project: default
    syncPolicy: {}
      # automated:
      #   selfHeal: true
      #   prune: true
      # syncOptions:
      #   - CreateNamespace=true
    ignoreDifferences:
      - group: admissionregistration.k8s.io
        jqPathExpressions:
          - .webhooks[].failurePolicy
        kind: ValidatingWebhookConfiguration
        name: istio-validator-istio-system
      - group: admissionregistration.k8s.io
        jqPathExpressions:
          - .webhooks[].failurePolicy
        kind: ValidatingWebhookConfiguration
        name: istiod-default-validator
  kgateway:
    chart: kgateway
    helm:
      releaseName: kgateway
    namespace: kgateway-system
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - ServerSideApply=true
  loki:
    enabled: false
    chart: loki
    helm:
      releaseName: loki
    namespace: monitoring
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  mariadb:
    enabled: false
    chart: mariadb
    helm:
      releaseName: mariadb
    namespace: mariadb
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  mailu:
    chart: mailu
    helm:
      releaseName: mailu
    namespace: mail
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  metallb:
    chart: metallb
    helm:
      releaseName: metallb
    namespace: metallb-system
    project: cluster-bootstrap
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  mysql:
    chart: mysql
    helm:
      releaseName: mysql
    namespace: mysql
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  namespaces:
    chart: namespaces
    helm:
      releaseName: namespaces
    project: cluster-bootstrap
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  nginx:
    enabled: false
    chart: ingress-nginx
    helm:
      releaseName: ingress-nginx
    namespace: ingress-nginx
    project: cluster-bootstrap
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  openebs:
    chart: openebs
    helm:
      releaseName: openebs
    namespace: openebs
    project: cluster-bootstrap
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  pihole:
    chart: pihole
    helm:
      releaseName: pihole
    namespace: pihole
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  php-hello-world:
    enabled: false
    chart: php-hello-world
    helm:
      releaseName: php-hello-world
    namespace: stuff
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
    featureBranches:
      feature/cool-feature:
        tag: 40ba834d914638ecee75159a7f25cbed2d96e3fc
  pypiserver:
    chart: pypiserver
    helm:
      releaseName: pypiserver
    namespace: pypi
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  samba:
   path: charts/samba
   repoURL: git@github.com:StopDenBus/helm-charts.git
   targetRevision: HEAD
   namespace: samba
   project: default
   syncPolicy:
     automated:
       selfHeal: true
       prune: true
  wishlist-backend:
    chart: wishlist-backend
    helm:
      releaseName: wishlist-backend
    namespace: wishlist
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
  wishlist-frontend:
    chart: wishlist-frontend
    helm:
      releaseName: wishlist-frontend
    namespace: wishlist
    project: default
    syncPolicy:
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
