httproute:
  enabled: true
  hostnames:
    - mailu.apps.gusek.info
  backendRef:
    serviceName: mailu-front
    port: 443
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: https
      namespace: kgateway-system
  # -- HTTPRoute rules configuration
  # @default -- `[]` (See [values.yaml])
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      # filters: []
      #   - type: RequestHeaderModifier
      #     requestHeaderModifier:
      #       add:
      #         - name: X-Custom-Header
      #           value: custom-value

mailu:
  global:
    database:
      roundcube:
        existingSecret: "mysql-mailu-secrets"
        existingSecretPasswordKey: "mysql-mailu-password"
        username: "mailu"
    storageClass: "zfs"
  
  mailuVersion: "2024.06.27"

  hostnames:
    - mailu.apps.gusek.info
  domain: "gusek.info"
  existingSecret: "mailu-secret-key"
  timezone: "Europe/Berlin"
  subnet: "10.244.0.0/16"
  
  initialAccount:
    enabled: true
    username: "admin"
    domain: "gusek.info"
    existingSecret: "mailu-admin-secret"
    existingSecretPasswordKey: "password"
    mode: "ifmissing"    
  
  externalDatabase:
    enabled: true
    type: "mysql"
    host: "mysql.mysql.svc.cluster.local"
    existingSecret: mysql-mailu-secrets
    existingSecretDatabaseKey: "mysql-mailu-database"
    existingSecretUsernameKey: "mysql-mailu-username"
    existingSecretPasswordKey: "mysql-mailu-password"

  persistence:
    size: 20Gi
    storageClass: "zfs"
    hostPath: /data/kubernetes/mailu

  ingress:
    annotations:
      kubernetes.io/ingress.class: nginx  
    extraTls:
      - hosts:
        - mailu.apps.gusek.info
        secretName: wildcard-apps
    existingSecret: wildcard-apps

  front:
    externalService:
      enabled: true
      type: LoadBalancer
      annotations:
        external-dns.alpha.kubernetes.io/hostname: mail.apps.gusek.info.
    updateStrategy:
      type: Recreate      

  fetchmail:
    enabled: true
    delay: 600
